@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #fff;
  --gradient-color: #000;
}

html,
body {
  @apply dark:text-white text-slate-800 dark:bg-slate-900 bg-white min-h-screen;
}

p {
  @apply pb-4;
}
h1 {
  @apply text-4xl font-bold my-3;
}
h2 {
  @apply text-2xl font-bold my-3;
}
h3 {
  @apply text-xl font-bold my-3;
}

.gonews .newsblock {
  @apply flex gap-3 my-6 bg-gray-50 dark:bg-slate-800 flex-col sm:flex-row;
}
.gonews h2 {
  @apply text-2xl font-bold;
}

.newscontent {
  @apply pt-2 px-2 sm:px-0;
}
.gonews p {
  @apply text-[14px];
}
.newsimg {
  @apply p-4;
}
.newsimg img {
  @apply object-cover sm:h-40 sm:w-48 sm:min-w-48 w-full;
}
.newsinfo {
  @apply flex gap-3 my-2;
}
.newsinfo .item {
  @apply flex gap-1 content-center text-xs;
}
.newslinks {
  @apply flex justify-between pr-0 sm:pr-8 pb-2;
}
.newslinks button,
.newslinks a {
  @apply flex sm:gap-2 gap-1 items-center text-sm font-semibold hover:text-blue-600 dark:hover:text-blue-400;
}
.newslinks svg {
  @apply fill-red-500;
}
.single {
  @apply px-5 py-2 md:px-10 md:py-5 bg-slate-50 dark:bg-slate-800;
}
.newsart {
  @apply flex flex-col gap-5 w-full;
}

/* Mobil menu nav */
.mobilnav a {
  @apply text-white;
}
.mobilnav a.current {
  @apply underline decoration-2 underline-offset-4 decoration-red-500;
}

.desknav a {
  @apply hover:underline decoration-2 underline-offset-4 decoration-red-500 hover:decoration-red-500  hover:transition hover:duration-300 hover:ease-in-out font-semibold;
}
.desknav a.current {
  @apply underline decoration-2 underline-offset-4 decoration-red-500;
}

/* mainpage left & right sides css */
.maincontent {
  @apply flex flex-col md:flex-row gap-5;
}
.mainleft {
  @apply basis-full md:basis-3/4 order-2 md:order-1;
}
.mainright {
  @apply basis-full md:basis-1/4 order-1 md:order-2 mt-20;
}
.rightnewsblock {
  @apply bg-gray-50 dark:bg-slate-800 rounded-md mb-6 p-3;
}
.rightnewsblock ul li {
  @apply mb-5 text-[14px] font-bold hover:text-blue-600 dark:hover:text-blue-400 border-l-2 border-red-500;
}
.rightnewsblock ul li a {
  @apply inline-block ml-[5px];
}
.catlink {
  @apply flex sm:gap-2 gap-2 items-center text-sm font-semibold hover:text-blue-600 dark:hover:text-blue-400 justify-end;
}
.catlink svg {
  @apply fill-red-500;
}
.catlink:hover svg {
  @apply fill-blue-600 dark:fill-blue-400;
}
.rightnewsblock h3 {
  @apply bg-slate-800 dark:bg-slate-900 text-white py-2 px-3 mb-5 font-semibold text-base;
}
